<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- Insertion from fragments.html -->
<head th:include="fragments :: head"></head>

<body>
	<div class="container">
		<!-- Insertion from fragments.html -->
		<div th:insert="fragments :: header"></div>
		<div class="container border shadow px-md-5 py-4">

			<form th:action="@{/saveCv}" th:object="${cv}" method="POST">
				<input type="hidden" th:field="*{id}" />
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<h5>Publication in repository</h5>
							<input id="publish" class="" type="checkbox" name="publish" th:field="*{publish}" value="publish"><label class="form-check-label ml-2" for="publish">Show my Resume in repository</label>
						</div>
					</div>
				</div>
				<h5>Main informations</h5>

				<div class="row">
					<div class="col-sm-6">
						<label class="mb-0" for="firstName">First name</label> <input id="firstName" class="form-control form-control-sm" type="text" th:field="*{firstName}" /> <label class="mb-0" for="lastName">Last name</label> <input id="lastName" class="form-control form-control-sm" type="text" th:field="*{lastName}" /> <label class="mb-0" for="profession">Profession</label> <input id="profession" class="form-control form-control-sm" type="text" th:field="*{profession}" />
					</div>

					<div class="col-sm-6">

						<label class="mb-0" for="birthDate">Birth date</label> <input id="birthDate" class="form-control form-control-sm" type="date" th:field="*{birthDate}" /> <label class="mb-0" for="email">Email</label> <input id="email" class="form-control form-control-sm" type="email" th:field="*{email}" /> <label class="mb-0" for="phone">Phone number</label> <input id="phone" class="form-control form-control-sm" type="text" th:field="*{phone}" />
					</div>



				</div>
				<div class="row">
					<div class="col-sm-12">
						<label class="mb-0" for="overview">Overview</label>
						<textarea id="overview" class="form-control form-control-sm" type="text" th:field="*{overview}"></textarea>
						<label class="mb-0" for="experience">Experience</label>
						<textarea id="experience" class="form-control form-control-sm" type="text" th:field="*{experience}"></textarea>
						<label class="mb-0" for="skill">Skills</label>
						<textarea id="skill" class="form-control form-control-sm" type="text" th:field="*{skill}"></textarea>
						<label class="mb-0" for="education">Education</label>
						<textarea id="education" class="form-control form-control-sm" type="text" th:field="*{education}"></textarea>
						<label class="mb-0" for="interest">Interest</label>
						<textarea id="interest" class="form-control form-control-sm" type="text" th:field="*{interest}"></textarea>

						<button class="btn btn-info btn-sm mt-3" type="submit">Submit</button>
					</div>

				</div>
			</form>
			<hr class="m-4">
			<div class="row">
			
				<div class="col-sm-6">
					<div class="form-group ">
						<h5>Photo</h5>
						<span>Only jpg/jpeg files are supported.</span> <a href="#!" class="badge badge-dark pulse" data-toggle="tooltip" data-html="true" title="
						<code>> Uploaded file type is validated by checking content-type header value. Photo is cropped and resized by back-end logic in order to save sarver space.</code>"><i class="fa fa-terminal"></i></a>
					</div>
						<img class="img-fluid mb-2 img-thumbnail" th:src="|@{/img/user/}*{cv.id}.jpg|" />
						<form method="POST" enctype="multipart/form-data" th:action="@{/uploadPhoto}">
							<input type="hidden" name="cvId" th:value="*{cv.id}" />
							<div class="input-group">
								<div class="custom-file">
									<input type="file" accept=".jpg,.jpeg" class="custom-file-input" id="theInputFile" name="photo" aria-describedby="inputGroupFileAddon04"> <label class="custom-file-label" for="theInputFile">Choose file</label>
								</div>
								<br>
								<div class="input-group">
									<button class="btn btn-info btn-sm" type="submit" id="inputGroupFileAddon04">Upload</button>
								</div>
							</div>
						</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Insertion from fragments.html -->
	<footer th:include="fragments :: footer"></footer>
	
	<!-- Fakepath issue from file input
	https://stackoverflow.com/questions/4851595/how-to-resolve-the-c-fakepath
	 -->
	<script>
		$('#theInputFile').on('change', function() {

			//get the file name
			var fileName = $(this).val();
			//replace the "Choose a file" label
			var fileName = fileName.replace('C:\\fakepath\\', " ");
			$(this).next('.custom-file-label').html(fileName);
		})
	</script>
</body>

</html>









