<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>luv2code Company Home Page</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Reference Bootstrap files -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
<div th:insert="fragments :: header">
	</div>
		<hr>
		<span th:if="*{loggedUser.cv.id} == *{cv.id}">
			<a th:href="@{editMyCv}">Edit</a>
		</span>
		<br>
		<img th:src="|@{/img/user/}*{cv.id}.jpg|" />

		<p th:text="*{cv.firstName}"></p>
		<p th:text="*{cv.lastName}"></p>
		<p th:text="*{cv.profession}"></p>
		<p th:text="*{cv.birthDate}"></p>
		<p th:text="*{cv.email}"></p>
		<p th:text="*{cv.phone}"></p>
		<p th:text="*{cv.overview}"></p>
		<p th:text="*{cv.experience}"></p>
		<p th:text="*{cv.skill}"></p>
		<p th:text="*{cv.education}"></p>
		<p th:text="*{cv.interest}"></p>


	</div>
</body>

</html>









