<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- Insertion from fragments.html -->
<head th:include="fragments :: head"></head>

<body>
	<div class="container">
		<!-- Insertion from fragments.html -->
		<div th:insert="fragments :: header"></div>
		<!-- If user logged in and his CV is displayed show EDIT button -->
			<div sec:authorize="isAuthenticated()">
				<div th:if="*{loggedUser.cv.id} == *{cv.id}">
					<a class="btn btn-info mb-3 " th:href="@{editMyCv}">Edit</a>
				</div>
			</div>
		<div class="container border shadow px-md-5 py-4">
			
			<a href="#!" class="badge badge-dark pulse" data-toggle="tooltip" data-html="true" title="
		
		<code>> Resumes and users data are stored in MySql database. Hibernate is used for mapping java objects to database tables.</code>"
		
		><i class="fa fa-terminal"></i></a> 
			<h2 class="text-center">Resume</h2>
			<div class="row flex-row-reverse">
				<div class="col-sm-4">
					<img class="img-fluid" th:src="|@{/img/user/}*{cv.id}.jpg|" />
				</div>
				<div class="col-sm-8">
					<h5>Main informations</h5>
					<ul class="list-unstyled">
						<li><span>First name: </span> <span th:text="*{cv.firstName}"></span></li>
						<li><span>Last name: </span><span th:text="*{cv.lastName}"></span></li>
						<li><span>Profession: </span><span th:text="*{cv.profession}"></span></li>
						<li><span>Birth date: </span><span th:text="*{cv.birthDate}"></span></li>
						<li><span>Email address: </span> <span th:text="*{cv.email}"></span></li>
						<li><span>Phone number: </span><span th:text="*{cv.phone}"></span></li>
					</ul>

				</div>
			</div>
			<div clas="row">

				<h5>Overview</h5>
				<p>
					<span th:text="*{cv.overview}"></span>
				</p>
				<h5>Experience</h5>
				<p>
					<span th:text="*{cv.experience}"></span>
				</p>
				<h5>Skills</h5>
				<p>
					<span th:text="*{cv.skill}"></span>
				</p>
				<h5>Education</h5>
				<p>
					<span th:text="*{cv.education}"></span>
				</p>
				<h5>Interests</h5>
				<p>
					<span th:text="*{cv.interest}"></span>
				</p>
			</div>


		</div>
	</div>
	<!-- Insertion from fragments.html -->
	<footer th:include="fragments :: footer"></footer>
</body>

</html>









